<footer style="background-color: #2d2d2d;width:100%">
<hr>
<div class="uk-flex uk-flex-center uk-container-center">
<a href="" class="uk-icon-button uk-icon-twitter"></a>
<a href="" class="uk-icon-button uk-icon-facebook"></a>
<a href="" class="uk-icon-button uk-icon-instagram"></a>
</div>
<div class="uk-flex uk-flex-center uk-container-center" style="color: green;">
XenDelta
</div>
</footer>