<footer>
    <div class="item">
        <a href="https://twitter.com/wluphi" target="_blank" class="uk-icon-button uk-icon-twitter"></a>&nbsp
        <a href="https://www.facebook.com/wluPHI/" target="_blank" class="uk-icon-button uk-icon-facebook"></a>&nbsp
        <a href="https://www.instagram.com/wluphi/" target="_blank" class="uk-icon-button uk-icon-instagram"></a>&nbsp </div>
    <div class="item"> Phi Society 2016 </div>
</footer>
