<footer style="background-color: #2d2d2d;">
    <div class="" style="display:flex;padding:5px;justify-content: space-between;">
        <div class="" style="">
            <a href="https://twitter.com/wluphi" target="_blank" class="uk-icon-button uk-icon-twitter"></a>&nbsp
            <a href="https://www.facebook.com/wluPHI/" target="_blank" class="uk-icon-button uk-icon-facebook"></a>&nbsp
            <a href="https://www.instagram.com/wluphi/" target="_blank" class="uk-icon-button uk-icon-instagram"></a>&nbsp </div>
        <div class="" style="color: white;margin-top:auto;margin-bottom:auto;"> Phi Society 2016 </div>
    </div>
</footer>
