<!doctype html>

<head>
    <title>PHI | About</title>
    <%= include /partials/header.ejs %>
</head>

<body class="main">
    <div class="content">
        <div class="body">
            <article class="uk-article section-white">
                <h1 class="uk-article-title">About the WLU PHI Society of Computer Science, Physics, and Mathematics </h1>
                <p class="uk-article-lead">
                    <%- about.body%>
                </p>
            </article>
        </div>
    </div>
</body>
<%= include /partials/footer.ejs %>

    </html>
