<!doctype html>

<head>
    <title>PHI | Contact</title>
    <%= include /partials/header.ejs %>
</head>

<body class="main">
    <div class="content">
        <div class="body">
            <article class="uk-article section-white">
                <h1 class="uk-article-title">Contact Us</h1>
                <p class="uk-article-lead">Contact us through our Facebook page at <a href="https://www.facebook.com/wluPHI/">https://www.facebook.com/wluPHI/</a></p>
            </article>
        </div>
    </div>
</body>
<%= include /partials/footer.ejs %>

    </html>
